<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/index :: dynamic(~{::main})}">
<main>
<form action="/account/changePassword" method="post" th:object="${formPass}" class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        
        <h4 class="panel-title" th:text="#{label.changePass}">Change PassWord</h4>
      </div>
      <div class="panel-body">
        <div class="row">
        	<div class="col">
        		<div class="form-group">
        			<label for="username" th:text="#{label.user}">User Name</label>
        			<input type="text" th:value="${#request.remoteUser}" class="form-control" name="username" readonly>
        		</div>
        		<div class="form-group">
        			<label for="password" th:text="#{label.oldPass}">Old Password</label>
        			<input type="password" th:field="*{password}" class="form-control" name="password"  placeholder="Your Password">
        		</div>
        	</div>
        	<div class="col">
        		<div class="form-group">
        			<label for="newPassword" th:text="#{label.newPass}">New Password</label>
        			<input type="password" th:field="*{newPassword}" class="form-control" name="newPassword"  placeholder="Your new Password">
        		</div>
        		<div class="form-group">
        			<label for="confirmPassword" th:text="#{label.confirm}">Confirm Password</label>
        			<input type="password" th:field="*{confirmPassword}" class="form-control" name="confirmPassword"  placeholder="Confirm Password">
        		</div>
        	</div>
        </div>
      </div>
      <div class="panel-footer text-right">
      <i class="pull-left text-danger" th:text="${message}"></i>
      	<button class="btn btn-default" th:text="#{label.submit}">Submit</button>
       
      </div>
    </div>
	</form>
</main>
